@*
Author   : Chinh T Cao
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@{
    ViewBag.Title = "Peregrine Main Page";
}

<script type="text/javascript">

    $(document).ready(function () {

        @* Set up the initial stage of the main page *@
        paging(parseInt("1"));

        @* Handle clicking page number *@
        $(".page-number").live("click", function () {
            var page = parseInt($(this).html());
            paging(parseInt($(this).html()));
        });

        @* Automatic refresh the page *@
        setInterval(function () {
            paging(parseInt("1"));
        }, 5000);

    });

    function paging(page)
    {
        $.ajax({
            url: '@Url.Action("ProcessList")',
            data: { "page": page},
            success: function (data) {
                $('div.process-list').empty();
                $('div.process-list').append(data);
            },
            error: function (result) {
                alert(result);
            }  
        });
    }

    function searching(x)
    {
        var searchval=document.getElementById(x).value;

        $.ajax({
            url: '@Url.Action("AjaxSearch")',
            data: { "searchpattern": searchval },
            success: function (data) {
                $('div.process-list').empty();
                $('div.process-list').append(data);
            },
            error: function (result) {
                alert(result);
            }  
        });
    }

</script>

<h2>Processes Summary</h2>

<fieldset>
    <label>Search:</label>
    <input id="search_input_id" type="text" onchange="searching(this.id)" />
</fieldset>

<div class="process-list"></div>