/*
Author   : Anh T Nguyen
Version  : 1.0.0
Date     : 01/01/2012
Copyright: Capstone Project Team Falcon 2011 All right reserved
*/

body {
    font-family:    Arial, Helvetica, Sans-Serif; 
    font-size:  0.8em;

}

/*
-----------------*/
#process_table  {    margin: 0 auto;
	clear: both;
	width: 100%; }
#process_table h4  {    margin:0px; padding:0px;}#process_table ul { margin:10px 0 10px 40px; padding:0px;}#process_table thead  {    background:#7CB8E2 url(images/header_bkg.png) repeat-x scroll center left;    color: #fff;    text-align:left;    padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}#process_table tbody td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }#process_table tbody tr.odd td { background:#fff url(images/row_bkg.png) repeat-x scroll center left; cursor:pointer; }
#process_table div.arrow { background:transparent url(images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#process_table div.up { background-position:0px 0px;}
