/*
Author   : Anh T Nguyen, Chinh T Cao
Version  : 1.0.1
Date     : 01/01/2012
Modified : 2/7/2012 by CC
Copyright: Capstone Project Team Falcon 2011 All right reserved
*/

body {
    font-family:    Arial, Helvetica, Sans-Serif; 
    font-size:  0.8em;

}

/*
-----------------*/
#process_table  {
    margin: 0 auto;
	clear: both;
	width: 100%;
 }

#process_table h4  {
    margin:0px; padding:0px;
}

#process_table ul { margin:10px 0 10px 40px; padding:0px;}

#process_list_header
{
    background:#7CB8E2 url(images/header_bkg.png) repeat-x scroll center left;
    color: #fff;
    text-align:left;
    padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}

.up_arrow 
{
    background-image: url('../../Content/themes/base/images/ui-icons_222222_256x240.png');
    width: 16px; 
    height: 16px;
    display: inline-block;
}

.down_arrow
{
    background-image: url('../../Content/themes/base/images/ui-icons_222222_256x240.png');
    background-position: -64px 0;
    width: 16px; 
    height: 16px;
    display: inline-block;
}

.arrow_selected 
{
    background-image: url('../../Content/themes/base/images/ui-icons_cd0a0a_256x240.png') !important;
}

.arrow_bg
{
    display: inline-block;
    background: url('../../Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png') repeat-x scroll 50% 50% #ffffff;
    opacity:0.8;
    filter:alpha(opacity=80);
    border: 1px solid #D3D3D3;
    width: 16px; height: 16px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.arrow_bg:hover 
{
    background: url('../../Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png') repeat-x scroll 50% 50% #ffffff;
}

#process_table tbody td {  color:#000; padding:7px 15px; }

#expand_row { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }

#process_table tbody tr td { background:#fff url(images/row_bkg.png) repeat-x scroll left top; cursor:pointer; }

.table_row_selected td { background:#fff url(images/row_bkg2.png) repeat-x scroll left top !important; }

#process_table div.arrow { background:transparent url(images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}

#process_table div.up { background-position:0px 0px;}


/*
---For message inquiry page--------------*/

#msg_list_table  {
    margin: 0 auto;
	clear: both;
	width: 100%;
 }

#msg_list_table h4  {
    margin:0px; padding:0px;
}

#msg_list_table ul { margin:10px 0 10px 40px; padding:0px;}

#msg_list_table thead  
{
    background:#7CB8E2 url(images/header_bkg.png) repeat-x scroll center left;
    color: #fff;
    text-align:left;
    padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
}

#msg_list_table tbody tr:nth-child(even) td { background:#E0FFFF; color:#000; padding:7px 15px; }

#msg_list_table tbody tr:nth-child(odd) td { background:#D1EEEE; color:#000; padding:7px 15px; }

table.msg_table 
{
    margin: 0 auto;
	clear: both;
	width: 100%;
}

table.msg_table thead  
{
    background:#9AC0CD repeat-x scroll center left;
    color: #fff;
    text-align:left;
    padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
}

table.msg_table th 
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    color:#ffffff;
}

table.msg_table tbody tr:nth-child(even) td
{
    background:#E0FFFF;
}

table.msg_table tbody tr:nth-child(odd) td 
{
    background:#D1EEEE;
}


table.job_table
{
    margin: 0 auto;
	clear: both;
	width: 100%;
}

table.job_table thead  
{
    background:#9AC0CD repeat-x scroll center left;
    color: #fff;
    text-align:left;
    padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
}

table.job_table th 
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    color:#ffffff;
}

table.job_table tbody tr:nth-child(even) td
{
    background:#E0FFFF;
}

table.job_table tbody tr:nth-child(odd) td 
{
    background:#D1EEEE;
}

/*
---For popup window--------------*/

#popwindow_header
{
    padding: 10px;
    border: 1px solid #600;
    display:block;
    font-size: 200%;
    text-decoration:underline;
    color: #000000;
}

#popwindow_message
{
    padding: 10px;
    border: 1px solid #600;
    display:block;
    background: #e6fcff;
    font-size: 100%;
    color: #000000;
}

.popperHid 
{
    display:none;
}

.popperShow 
{
    position: absolute;
    z-index: 99;
    padding: 10px;
    border: 3px solid #600;
    width: 385px;
    left: 46%;
    top: 360px;
    margin: 0 0 0 -200px;
    background: #5757ff;
    display:block;
    font-size: 90%;
    -moz-border-radius: 15px;
    border-radius: 10px;
}

.popperShow #closebutton 
{
    display: block;
    text-align: center;
    clear: both;
    margin: .5em 0 0 0;
    }
    
.popperShow #closebutton input 
{
    font-size: 70%;
}
    
#popwindow 
{
    height: 230px;
}

#popwindow_header
{
    height: 15px;
    background: #D1EEEE;
    font-weight: bold;
    font-size: 150%;
}

#popwindow_message
{
    height: 170px; 
    overflow-y: scroll;
}

#closebutton
{
    height: 15px;
}


.meter-wrap{
    position: relative;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 200px; height: 20px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd url(/path/to/your-image.png) top left no-repeat;
}

.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;

    color: #000;
    text-align: center;
    width: 100%;
}

.top{}

.top2{
        color:Red; cursor:pointer;
     }