<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ParegrineDB.Properties.Settings.PeregrineDBConnectionString"
            connectionString="Data Source=CAPSTONEBB;Initial Catalog=PeregrineDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>