@*
Author   : Chinh T Cao
           Anh T Nguyen
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@
           
@{
    ViewBag.Title = "Peregrine Main Page";
}

<script type="text/javascript">

    $(document).ready(function () {

        // Set up the initial stage of the main page
        MainPageAjaxUpdate( parseInt("1"), 
                            parseInt("1"), 
                            "");       

        // Handle clicking page number 
        $(".page-number").live("click", function () {                      
            MainPageAjaxSearch( parseInt($(this).html()), 
                                parseInt(document.getElementById("current_sorting_label").innerHTML), 
                                document.getElementById("search_input_id").value);
        });

        // Automatic refresh the page 
        
        setInterval(function () {
            MainPageAjaxUpdate( parseInt(document.getElementById("current_page_label").innerHTML), 
                                parseInt(document.getElementById("current_sorting_label").innerHTML), 
                                        document.getElementById("search_input_id").value    );        
        }, 15000);        

    });

</script>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Message Inquiry", "MsgInquiry", "Home")</li>
    </ul>
</nav>

<h2>Processes Summary</h2>

<fieldset>
    <label>Search:</label>
    <input  id="search_input_id" type="text" 
            onchange="MainPageAjaxSearch(   '1', 
                                            '1', 
                                            document.getElementById(this.id).value )" />
</fieldset>

<div class="process-list"></div>
<label id="current_scrolldown_process" visibility="hidden"></label>
<label id="msg_or_job" visibility="hidden"></label>
<label id="inside_page" visibility="hidden"></label>