@*
Author   : Chinh T Cao
           Anh T Nguyen
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@
           
@{
    ViewBag.Title = "Peregrine Main Page";
}

<script type="text/javascript">

    var main_page_main_current_page;
    var main_page_main_current_sort;
    var current_scrolldown_process;
    var msg_or_job;
    var inside_page;

    $(document).ready(function () {
        // Fix event.layerx and layery broken warning, work like a charm
        var all = $.event.props,
        len = all.length,
        res = [];
        while (len--) {
            var el = all[len];
            if (el != 'layerX' && el != 'layerY') res.push(el);
        }
        $.event.props = res;

        tab_amt = 0;

        // Initialize the default value for current_scrolldown_process

        current_scrolldown_process = '*_*';
        
        var search_process = "@Request.QueryString["Process"]";
        
        MainPageAjaxUpdate(1, 4, search_process);

        // Use enter to send value in input box. Work for IE, Firefox and Chrome
        $('#main_page_search_input').keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                MainPageAjaxUpdate( '1',
                                    '1',
                                    document.getElementById("main_page_search_input").value);
                current_scrolldown_process = '*_*';
            }else{
                 if(document.getElementById("main_page_search_input").value == ""){
                    MainPageAjaxUpdate(1, 4, "");
                 }else{
                    $.ajax({
                        type: "POST",
                        url: '/Home/AutoCompleteUpdate',
                        data: { "search_string":  document.getElementById("main_page_search_input").value },
                        success: function (data) {
                            var availableTags = data.split(",");
                            $("#main_page_search_input").autocomplete({
                                source: availableTags
                            }); 
                        },
                        error: function (result) {
                            alert(result);
                        }
                    });
                }              
            }
        });

        // Automatic refresh the page        
        
        setInterval(function () {       
            MainPageAjaxUpdate( main_page_main_current_page,
                                main_page_main_current_sort,
                                document.getElementById("main_page_search_input").value);
        }, 60000);

    });

</script>



<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Message Inquiry", "MsgInquiry", "Home")</li>
    </ul>
</nav>

<h2>Processes Summary</h2>


<fieldset>
    <label>Search:</label>
    <input  id="main_page_search_input" type="text" value="@Request.QueryString["Process"]" />
</fieldset>

<div class="process-list" style="height: 100%;"></div>