@*
Author   : Chinh T Cao
           Anh T Nguyen
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@
           
@{
    ViewBag.Title = "Peregrine Main Page";
}

<script type="text/javascript">

    var main_page_main_current_page;
    var main_page_main_current_sort;
    var current_scrolldown_process;
    var msg_or_job;
    var inside_page;

    $(document).ready(function () {
        // Fix event.layerx and layery broken warning, work like a charm
        var all = $.event.props,
        len = all.length,
        res = [];
        while (len--) {
            var el = all[len];
            if (el != 'layerX' && el != 'layerY') res.push(el);
        }
        $.event.props = res;

        // Initialize the default value for current_scrolldown_process
        current_scrolldown_process = '*_*';

        // Get the default value of refresh rate

        // Set up the initial stage of the main page
        MainPageAjaxUpdate( parseInt("1"),
                            parseInt("4"),
                            "");

        // Use enter to send value in input box. Work for IE, Firefox and Chrome
        $('#main_page_search_input').keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                MainPageAjaxUpdate( '1',
                                    '1',
                                    document.getElementById("main_page_search_input").value);
                current_scrolldown_process = '*_*';
            }
        });

        // Automatic refresh the page        
        /*
        setInterval(function () {
            MainPageAjaxUpdate(main_page_main_current_page,
                                main_page_main_current_sort,
                                document.getElementById("main_page_search_input").value);
        }, 15000);*/

    });

</script>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Message Inquiry", "MsgInquiry", "Home")</li>
    </ul>
</nav>

<h2>Processes Summary</h2>


<fieldset>
    <label>Search:</label>
    <input  id="main_page_search_input" type="text" />
</fieldset>

<div class="process-list"></div>