@*
Author   : Chinh T Cao
           Anh T Nguyen
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@
           
@{
    ViewBag.Title = "Peregrine Main Page";
}

<script type="text/javascript">

    var main_page_accumulate_page;
    var main_page_current_sort;
    var current_scrolldown_process;
    var msg_or_job;
    var inside_page;
    var current_scroll_pos;
    var Refresh_Rate = @ViewBag.Refresh_Rate;

    $(document).ready(function () {
       Main_page_setup("@Request.QueryString["Process"]");
    });

</script>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Message Inquiry", "MsgInquiry", "Home")</li>
    </ul>
</nav>

<h2>Processes Summary</h2>


<fieldset>
    <label>Search:</label>
    <input  id="main_page_search_input" type="text" value="@Request.QueryString["Process"]" />
</fieldset>

<div class="process-list" style="height: 100%;"></div>