@*
Author   :  Anh T Nguyen 
            Chinh T Cao        
Version  : 1.0.0
Date     : 1/11/2012
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@model PeregrineUI_2.Models.PageData<PeregrineUI_2.Models.Job>

<script type="text/javascript">
    
    $(document).ready(function () {
        more_info_accumulate_page = @(Model.CurrentPage);
    });
    
</script>

<input class="ui_button" type="button" value="Show Messages" onclick="show_message(1, $('#fixed_info_tab').data('process_name'))"/>
     
<table class = "job_table">    
        <thead>
            <tr>
                <td>Job Name </td>
                <td>Progress </td>
            </tr>
        </thead>     
        <tbody>
            @foreach (var job in Model.Data)
            {
                <tr >
                    <td>@job.JobContent </td>
                    <td>
                        <div class="meter-wrap">
                            <div class="meter-value" style="background-color: #3399CC; width: @(job.PercentProgress)%;">
                                <div class="meter-text">
                                    @(job.PercentProgress)%
                                </div>
                            </div>
                        </div> 
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div style="text-align: center;"><input type="button" class="ui_button" value="Load More" onclick="show_job((more_info_accumulate_page+1), $('#fixed_info_tab').data('process_name'))" /></div>
                </td>
            </tr>
        </tfoot>
</table>