@*
Author   : Chinh T Cao        
Version  : 1.0.0
Date     : 1/11/2012
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@
                     
@{
    ViewBag.Title = "Messages Summary";
}

<h2>Message Inquiry</h2>
<h3>Note: Show all messages from all processes</h3> 

<script type="text/javascript">

    var msg_inquiry_accumulate_page;
    var msg_inquiry_current_sort;
    var Refresh_Rate = @ViewBag.Refresh_Rate;

    /**/
    $(document).ready(function () {
        Msg_Inquiry_setup();
    });

</script>

<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
    </ul>
</nav>

<label>Search message by process name:</label>
<input  id="process_name_input" type="text"/>

<br />

<label>Search message by message priority:</label>
<select id="process_prio_input" 
        onchange="Msg_inquiry_collect_info ( 
                                                msg_inquiry_accumulate_page,
                                                msg_inquiry_current_sort,                                      
                                                document.getElementById('process_prio_input').value,
                                                document.getElementById('process_name_input').value
                                            );">
    <option value="0">0</option>                                            
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>

<br />

<label>Get all start up and shutdown msg: </label>

<input id="SU_SD_Checkbox" type="checkbox" onclick="MsgInquiryUpdate(msg_inquiry_accumulate_page, msg_inquiry_current_sort, document.getElementById('process_prio_input').value, document.getElementById('process_name_input').value, (document.getElementById('SU_SD_Checkbox').checked+0))" />
                                                                             
<hr />

<div class="message-list"></div>

<div id="popwindow" class="popperHid">
    <div id="popwindow_header"></div>
    <div id="popwindow_message"></div>
    <div id="closebutton" ><input type="button" value="Close" onclick="showpopup('-1', '');" /></div>
</div>

<div id="message_modal" style="display: none; max-height: 200px; overflow: auto;"></div>
